[Unit]
Description=i3lock at suspend time
Before=sleep.target

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=/usr/bin/blurlock

[Install]
WantedBy=sleep.target
