screenshot.png
README.md
bootstrap.sh
hosts
local.yml
macos.yml
roles/

{{ if eq .chezmoi.os "darwin" -}}
.dir_colors
.config/flameshot/
.config/rbw/
.config/walker/
.config/systemd/
.config/dotfiles/
.config/elephant/
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
.config/karabiner/
.hammerspoon/
{{ end -}}

{{/* Inside a wst-dev stream container: wst-container-up bind-mounts a
     container-specific .gitconfig (RO) at ~/.gitconfig, which blocks
     chezmoi from rewriting it ("device or resource busy"). Skip. */}}
{{ if env "WST_DOTFILES_SRC" -}}
.gitconfig
{{ end -}}
