screenshot.png
README.md
bootstrap.sh
hosts
local.yml
macos.yml
roles/

{{ if eq .chezmoi.os "darwin" -}}
.dir_colors
.config/flameshot/
.config/rbw/
.config/walker/
.config/systemd/
.config/dotfiles/
.config/elephant/
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
.config/karabiner/
.hammerspoon/
{{ end -}}
