setopt histignorealldups sharehistory

# Use emacs keybindings
bindkey -e

# Configure dotfiles installation path
export DOTFILES_INSTALL_PATH={{ env "DOTFILES_INSTALL_PATH" }}

# Use oh-my-zsh
export ZSH=$HOME/.oh-my-zsh
export ZSH_THEME="dracula"
export NVM_LAZY_LOAD=true
export NVM_COMPLETION=true
plugins=(zsh-completions zsh-syntax-highlighting zsh-history-substring-search zsh-nvm)
source $ZSH/oh-my-zsh.sh

# Keep 1000 lines of history within the shell and save it to ~/.zsh_history:
HISTSIZE=1000
SAVEHIST=1000
HISTFILE=~/.zsh_history

# Use modern completion system
autoload -Uz compinit
compinit
zstyle ':completion:*' menu select=2

# Bind history substring search
bindkey -M emacs '^P' history-substring-search-up
bindkey -M emacs '^N' history-substring-search-down

# Include bash aliases
if [ -f ~/.bash_aliases ]; then
    . ~/.bash_aliases
fi
