Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*background:            #1a1a1a
*foreground:            #c8c8c8
*fading:                15
*fadeColor:             black
*cursorColor:           #16A085
*pointerColorBackground:#2B2C2B
*pointerColorForeground:#16A085

*color0:                #2e3436
*color8:                #555753
*color1:                #cc0000
*color9:                #ef2929
*color2:                #4e9a06
*color10:               #8ae234
*color3:                #c4a000
*color11:               #fce94f
*color4:                #3465a4
*color12:               #729fcf
*color5:                #75507b
*color13:               #ad7fa8
*color6:                #06989a
*color14:               #34e2e2
*color7:                #d3d7cf
*color15:               #eeeeec

Xcursor.theme: Breeze
Xcursor.size:  0

XTerm*background: #272827
XTerm*foreground: #fdf6e3
XTerm*pointerColor: #16A085
xterm*reversevideo: on
xterm*faceName: Ubuntu Mono:size=12:antialias=true
XTerm*selectToClipboard: true

URxvt.font: xft:Ubuntu Mono:size=12:antialias=true,xft:unifont:antialias=false
URxvt*letterSpace: -1
URxvt.depth: 32
URxvt.background: #1a1a1a
URxvt*scrollBar:                      false
URxvt*mouseWheelScrollPage:           false
URxvt*cursorBlink:                    true
URxvt*background:                     black
URxvt*foreground:                     grey
URxvt*saveLines:                      5000