{"email":"{{ .rbw_email }}","sso_id":null,"base_url":null,"identity_url":null,"ui_url":null,"notifications_url":null,"lock_timeout":28800,"sync_interval":3600,"pinentry":"pinentry-gnome3","client_cert_path":null}
