---
- name: Provision dev system
  hosts: all
  roles:
    - base
    - git
    - zsh
    - byobu
    - tmate
    - ttyrec
    - emacs
    - vim
    - python
    - java
    - latex
    - node
    - meteor
    - postgres
    - mysql
    - docker
    - nfs
    - heroku
    - aws
    - ngrok
    - jekyll

- name: Configure dev environment
  hosts: all
  roles:
    - dotfiles
